.topnav {
  overflow: hidden;
  background-color: lightblue;
  border-style: solid;
  border-radius: 12px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav a.split {
  float: right;
  background-color: lightblue;
  color: white;
}

.productnav {
  overflow: hidden;
  background-color: lightblue;
  border-style: solid;
  border-radius: 12px;
}

.productnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.productnav a:hover {
  background-color: #ddd;
  color: black;
}





